@model ChinesePainting
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/font-awesome-4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/smoothproducts.css">
    <link rel="stylesheet" href="~/css/lhcpDetail.css">
</head>
<style>
    .lhbutton {
        background-color: /*#CCC*/ #969698;
        border: none;
        color: white;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        border-radius: 8px;
        margin-top: 5px;
        cursor: pointer;
    }
        #rturl a:link {
            color: white !important;
            font-weight: normal;
            text-decoration: none;
        }

        #rturl a:visited {
            color: white !important;
        }      
</style>
<body>
    <div id="top">
        <div>@await Component.InvokeAsync("CartSummary") | <a class="scart" asp-controller="MailRecipients" asp-action="Create">Email Club <i class="fa fa-envelope-o" aria-hidden="true"></i></a></div>
    </div>
    <header>
        <H1 id="logo">LIN HUA'S <span>Chinese Paintings</span></H1>
    </header>
    <nav>
        <ul class="menu">
            <li class="toggle"><a href="#"><i class="fa fa-bars"></i> Menu</a></li>
            <li class="item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="item"><a asp-controller="Home" asp-action="Bio">Bio</a></li>
            <li class="item"><a asp-controller="Chinesepainting" asp-action="Index">Exhibits</a></li>
            <li class="item"><a asp-controller="Home" asp-action="Info">Info</a></li>
            <li class="item"><a asp-controller="Home" asp-action="Custom">Custom Art</a></li>
            <li class="item"><a asp-controller="Home" asp-action="Contact">Contact</a></li>
            <li class="item"><a asp-controller="Cart" asp-action="Index">Shopping Cart</a></li>
        </ul>
        <div class="buttonOver">
            <a class="btn-open" href="#">PAINTINGS </a>
        </div>
        <div class="overlay">
            <div class="wrap">
                <h3>Category Search for Chinese Paintings</h3>
                <ul class="wrap-nav">
                    <li><a asp-controller="Chinesepainting" asp-action="Index">All Paintings</a></li>
                    @*<li><a asp-controller="Chinesepainting" asp-action="bydate">New Arrival ( Updated on July 21, 2010 )</a></li>*@
                    <li><a asp-controller="Chinesepainting" asp-action="bycategory" asp-route-category="Landscape">Landscape Paintings</a></li>
                    <li>
                        <a asp-controller="Chinesepainting" asp-action="bycategory" asp-route-category="Plant">Plants Paintings</a>
                        <ul>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Flower">Flowers</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Bamboo">Bamboo</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Fruit">Fruits</a></li>

                        </ul>
                    </li>
                    <li>
                        Prices
                        <ul>
                            <li><a asp-controller="Chinesepainting" asp-action="bypriceA">Under $50</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="bypriceB">$50~$200</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="bypriceC">$200~$500</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="bypriceD">Over $500</a></li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="Chinesepainting" asp-action="bycategory" asp-route-category="Animal">Animals Paintings</a>
                        <ul>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Bird">Bird</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Dog">Dog</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Fish">Fish</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Rooster">Rooster</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Duck">Duck</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Horse">Horse</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Eagle">Eagle</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Rabbit">Rabbit</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Frog">Frog</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Lamb">Lamb</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Buffalo">Buffalo</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Deer">Deer</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Crow">Crow</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Mouse">Mouse</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Cat">Cat</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Swallow">Swallow</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Tiger">Tiger</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Egret">Egret</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Parrot">Parrot</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Bat">Bat</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Bear">Bear</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Squirrel">Squirrel</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="byname" asp-route-name="Pig">Pig</a></li>
                        </ul>
                    </li>
                    <li>
                        Material Types used in Paintings
                        <ul>
                            <li><a asp-controller="Chinesepainting" asp-action="bytype" asp-route-name="Silk">Silk</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="bytype" asp-route-name="RicePaper">Rice Paper</a></li>
                            <li><a asp-controller="Chinesepainting" asp-action="bytype" asp-route-name="Shikishi">Shikishi</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <aside class="hero"></aside>
    <main class="flex">
        <section class="detcolmain">
            <h2>Detail</h2>
            <div class="sp-loading"><img src="~/i/sp-loading.gif" alt=""><br>LOADING IMAGES</div>
            <div class="sp-wrap">

                <a href="~/@Model.LargeImageUrl"><img src="~/@Model.ImageUrl" alt="@Model.ProductDescription"></a>

            </div>
        </section>
        <aside class="detcolside">
            <p>
                <h3>@Model.ProductName</h3><br /># @Model.ProductID<br />
                @Model.SizeDetail<br />@Model.ProductType<br />@Model.UnitPrice.ToString("c")<br /><span id="sold">@Model.Status</span>
            </p>
            <p>
                <form id="@Model.ProductID" asp-action="AddToCart"
                      asp-controller="Cart" method="post">
                    <input type="hidden" asp-for="ProductID" />
                    <input type="hidden" name="returnUrl"
                           value=@ViewBag.Rturl />
                    <button type="submit" class="lhbutton">+ AddToCart</button>
                </form>
            </p>
            <p id="rturl">
                @if (ViewBag.Rturl != null)
                {
                    <a href="@ViewBag.Rturl" class="lhbutton">CONTINUE SHOPPING</a>
                }
                else
                {
                    <a asp-controller="Chinesepainting" asp-action="Index" class="lhbutton">CONTINUE SHOPPING</a>
                }
            </p>
        </aside>
    </main>
    <footer>
        <small>
            Copyright &copy; 2006~
            <script>document.write(new Date().getFullYear())</script> | Masterpiece Studioz LLC | All rights reserved | <span>Tel:(206)963-1889 or <a asp-controller="Home" asp-action="Contact" asp-fragment="webForm">Email Us</a></span><br />
            Powered by <a href="http://www.masterpiecestudioz.com" title="Certified Master Web Developer for small business and ecommerce.">Masterpiece Studioz</a>
        </small>
    </footer>
    <script src="~/j/jquery-2.2.4.min.js"></script>
    <script src="~/j/lhcp2019.js"></script>
    <script src="~/j/smoothproducts.min.js"></script>
    <script>
        $(window).load(function () {
            $('.sp-wrap').smoothproducts();
        });
    </script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-20493372-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>


